.accordion {
  @include poppins;
  color: $black;
  border: 1px solid $brown;
}

.accordion__item {
  cursor: pointer;

  &:hover {
    outline: 2px solid $brown;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $brown;
  }

  svg {
    position: absolute;
    width: 17px;
    height: 10px;
    stroke: $brown;
    fill: none;

    @media (max-width: $tablet-max-width) {
      width: 23px;
      height: 16px;
    }
  }

  &--current {
    svg {
      transform: rotate(180deg);
    }
  }
}

.accordion__content {
  line-height: 130%;

  @media (max-width: $mobile-max-width) {
    font-size: 14px;
    line-height: 144%;
  }

  &--hidden {
    display: none;
  }

  .accordion__current & {
    display: block;
  }
}
