.catalog {
  position: relative;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 39px;
  padding-left: 0;
  margin-bottom: 69px;
  width: 100%;
  min-height: 589px;

  @media (max-width: $tablet-max-width) {
    row-gap: 35px;
    margin-bottom: 71px;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    margin: 0 auto 43px;
    width: 290px;
  }

  li {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.catalog__control {
  position: absolute;

  @include poppins;
  font-weight: 500;
  font-size: 16px;
  color: $black;

  @media (max-width: $mobile-max-width) {
    display: none;
  }

  &--previous {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.catalog__pagination {
  position: absolute;
  left: 50%;
  width: max-content;

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
}
