.faq {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 112px;

  @media (max-width: $desktop) {
    padding: 0 45px;
    width: 100%;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
  }

  & h2 {
    font-family: "Cormorant Garamond", "Georgia", serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark;

    margin: 0 0 46px;

    @media (max-width: $mobile) {
      margin: 0 0 28px;
    }
  }
}
