.intro {
  padding-top: 181px;
  min-height: 463px;
  text-align: center;
  background-image: url("../img/intro/intro-desktop.jpg");
  background-color: $brown;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include cormorant;
  color: $white;

  @media (min-width: $desktop-min-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/intro/intro-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    background-image: url("../img/intro/intro-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg");
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-max-width) {
      padding-right: 17px;
    }

    @media (max-width: $mobile-max-width) {
      padding-right: 0;
      padding-top: 10px;
      font-size: 38px;
    }
  }

  span {
    display: block;
    font-size: 38px;
    font-style: italic;
    text-align: center;

    @media (max-width: $tablet-max-width) {
      padding-right: 17px;
    }

    @media (max-width: $mobile-max-width) {
      padding-right: 0;
      font-size: 34px;
    }
  }
}
