.link {
  display: block;
  width: max-content;

  @include poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  border-bottom: 1px solid $brown;

  @include style-link;

  &:link {
    color: inherit;
  }
}
