.logo {
  display: block;
  width: 66px;
  height: 66px;

  @media (max-width: $mobile-max-width) {
    width: 52px;
    height: 52px;
  }

  &--logo {
    &:hover {
      fill: $brown;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
