.page-header {
  margin-bottom: 9px;

  @include poppins;
  color: $black;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto 31px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    width: 100%;
    color: $white;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
  }

  &--opened-menu,
  &--nojs {
    @media (max-width: $tablet-max-width) {
      background-color: $brown;
    }
  }

  &--nojs {
    @media (max-width: $tablet-max-width) {
      margin-bottom: 0;
      padding-bottom: 14px;
    }
  }

  ul {
    list-style: none;
  }

  a:not(.page-header__logo) {
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      border-bottom: 1px solid $brown;
    }

    &:active {
      border-style: none;
      opacity: 0.5;
    }
  }
}

.page-header__top-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 30px;
  max-width: 1366px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $tablet-max-width) {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    row-gap: 63px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
  }

  @media (max-width: $mobile-max-width) {
    row-gap: 50px;
    margin-bottom: 0;
  }

  .page-header--opened-menu & {
    @media (max-width: $tablet-max-width) {
      position: fixed;
      top: 0;
      left: 0;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 53px;
      width: 100%;
      background-color: $brown;
      z-index: 50;
    }

    @media (max-width: $mobile-max-width) {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 36px;
    }
  }

  .page-header--no-js & {
    @media (max-width: $tablet-max-width) {
      position: static;
    }
  }
}

.page-header__button-menu {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    padding: 0;
    width: 25px;
    height: 18px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    stroke: $black;
  }

  &:hover {
    @media (max-width: $tablet-max-width) {
      stroke: $brown;
    }
  }

  &:active {
    @media (max-width: $tablet-max-width) {
      stroke: $black;
      opacity: 0.5;
    }
  }

  .page-header--nojs & {
    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }

  .page-header--opened-menu & {
    @media (max-width: $tablet-max-width) {
      stroke: $white;
    }

    @media (max-width: $mobile-max-width) {
      padding-top: 0;
    }

    &:hover {
      @media (max-width: $tablet-max-width) {
        stroke: $black;
      }
    }
  }
}

.page-header__search {
  flex-shrink: 0;

  @media (max-width: $tablet-max-width) {
    display: none;
  }

  .page-header--opened-menu &,
  .page-header--nojs & {
    @media (max-width: $tablet-max-width) {
      display: block;
      order: 1;
      grid-column: 1/-1;
    }
  }
}

.page-header__logo {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    top: 0;
  }

  @media (max-width: $mobile-max-width) {
    top: 7px;
  }

  .page-header--opened-menu & {
    @media (max-width: $tablet-max-width) {
      top: 30px;
    }

    @media (max-width: $mobile-max-width) {
      top: 20px;
    }

    svg {
      @media (max-width: $tablet-max-width) {
        fill: $white;
      }
    }
  }

  .page-header--nojs & {
    svg {
      @media (max-width: $tablet-max-width) {
        fill: $white;
      }
    }
  }

  svg {
    width: 66px;
    height: 66px;
    fill: $brown;

    @media (max-width: $mobile-max-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.page-header__user-menu {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, max-content) 1fr repeat(2, max-content);
  column-gap: 35px;
  direction: rtl;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
  padding-left: 0;
  padding-inline-start: 0;

  @media (max-width: $tablet-max-width) {
    grid-column-start: 3;
    padding-top: 0;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-columns: repeat(4, max-content) 1fr repeat(2, max-content);
  }

  li:nth-child(6n + 5) {
    grid-column-start: -3;
  }
}

.page-header__login-top {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__cart {
  &:hover {
    @media (max-width: $tablet-max-width) {
      svg {
        stroke: $brown;
      }
    }
  }

  &:active {
    @media (max-width: $tablet-max-width) {
      opacity: 0.5;
    }
  }

  svg {
    display: none;

    @media (max-width: $tablet-max-width) {
      display: block;
      width: 20px;
      height: 18px;
      fill: none;
      stroke: $black;
    }
  }

  span {
    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }
}

.page-header--opened-menu .page-header__cart,
.page-header--nojs .page-header__cart {
  &:hover {
    svg {
      @media (max-width: $tablet-max-width) {
        stroke: $black;
      }
    }
  }

  svg {
    @media (max-width: $tablet-max-width) {
      stroke: $white;
    }
  }
}
