.page-footer {
  @include poppins;
  font-size: 16px;
  color: $white;
  background-color: $basic-black;

  h2 {
    margin-top: 0;
    margin-bottom: 9px;

    @include cormorant;
    font-size: 34px;
    letter-spacing: 0.03em;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 11px;
      width: 73%;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 37px;
    color: $grey;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 34px;
      width: 77%;
    }
  }

  a {
    color: inherit;

    @include style-link;
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 43% 1fr max-content;
  column-gap: 7.5%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 76px;
  padding-right: 98px;
  padding-left: 98px;
  width: 100%;
  max-width: 1366px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: 1fr max-content;
    padding-top: 50px;
    padding-bottom: 37px;
    padding-right: 150px;
    padding-left: 45px;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 37px;
  }
}

.page-footer__section {
  @media (max-width: $tablet-max-width) {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
}

.page-footer__subscribe {
  @media (max-width: $tablet-max-width) {
    margin-right: 12px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
  }

  input {
    padding-bottom: 9px;
  }
}

.page-footer__navigation {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 19.1%;

  @media (max-width: $tablet-max-width) {
    column-gap: 83px;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-bottom: 23px;
  }
}

.page-footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 4px;
  list-style: none;
  font-weight: 500;

  li {
    margin-bottom: 17px;
  }
}
