.range-control {
  position: relative;
  height: 53px;

  @media (max-width: $tablet-max-width) {
    padding-top: 9px;
    height: 69px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 11px;
  }
}

.range-control__scale {
  margin: 0 auto;
  width: 80.6%;
  height: 1px;
  background-color: $beige;

  @media (max-width: $tablet-max-width) {
    margin: 0 0 0 31px;
    width: 70.8%;
  }

  @media (max-width: $mobile-max-width) {
    width: 92.6%;
    margin-left: 10px;
  }
}

.range-control__bar {
  margin-left: 30%;
  width: 45%;
  height: 1px;
  background-color: $brown;

  @media (max-width: $tablet-max-width) {
    margin-left: 21%;
    width: 52%;
  }

  @media (max-width: $mobile-max-width) {
    width: 44%;
  }
}

.range-control__toggle {
  position: absolute;
  top: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-max-width) {
    top: 0;
  }

  @media (max-width: $mobile-max-width) {
    top: 3px;
  }

  &::before {
    content: "";
    margin-bottom: 4px;
    width: 15px;
    height: 15px;
    background-color: $brown;
    border-radius: 50%;

    @media (max-width: $tablet-max-width) {
      width: 18px;
      height: 18px;
    }
  }

  &--min {
    left: 25%;

    @media (max-width: $tablet-max-width) {
      left: 17%;
    }
  }

  &--max {
    left: 66%;

    @media (max-width: $tablet-max-width) {
      left: 57%;
    }

    @media (max-width: $mobile-max-width) {
      left: 67%;
    }
  }

  span {
    font-size: 14px;

    @media (max-width: $mobile-max-width) {
      font-size: 16px;
    }
  }
}
