.user-nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
  height: max-content;
  padding: 10px 24px 0 0;
  column-gap: 35px;

  @media (max-width: $desktop) {
    padding: 24px 0 0;
  }

  @media (max-width: $tablet) {
    padding: 17px 0 0;
  }

  & a {
    font-size: 14px;
    line-height: 21px;
    color: #1d1613;

    &:hover {
      color: $grey;
    }
  }

  &__cart {
    order: 1;
  }

  &__cart-icon-wrap {
    @media (max-width: $desktop) {
      order: -1;
    }
  }

  & a:last-of-type {
    display: none;

    @media (max-width: $desktop) {
      display: inline-flex;
    }
  }

  &__cart-icon {
    fill: none;
    stroke: $dark;
  }

  &__login,
  &__cart {
    @media (max-width: $desktop) {
      display: none;
    }
  }
}
